/* #7c6152 #49403f #ffffff #f6f6f6 #92836c #85675a */
@font-face {
  font-family: 'Unica';
  src: url('../fonts/UnicaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, #cookies, #overlay{
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;

  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}

body{
  background-image: -webkit-radial-gradient(circle, #85675a, #7c6152);
  background-image:    -moz-radial-gradient(circle, #85675a, #7c6152);
  background-image:     -ms-radial-gradient(circle, #85675a, #7c6152);
  background-image:      -o-radial-gradient(circle, #85675a, #7c6152);
  background-image:         radial-gradient(circle, #85675a, #7c6152);
}

#cookies, #cover{
  position: absolute;
  text-align: center;

  z-index: 5;
}

#text{
    position: absolute;
    left: 0;
    top: 0;
    width:100vw;
    height:100vh;
    margin:0 auto;
    overflow:hidden;
    z-index: 0;
    pointer-events: none;

    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

    justify-content: center;
    align-items: center;

    z-index: 0;
}

#overlay{
  position: absolute;
  left: 0;
  top: 0;
  width:100vw;
  height:100vh;
  margin:0 auto;
  overflow:hidden;
  pointer-events: none;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;

  z-index: 999;
}

#overlay:after{
  content:'';
  position:absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius:50%;
  width:45vh; height:45vh;
  border: 1000px solid #f6f6f6;
}

#floating *{
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

#cover{
  width:47vh; height:47vh;
  position: absolute; /* postulat de départ */
  top: 50vh; left: 50vw; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

span{
  position: absolute;
  font-family: 'Unica';
  font-size: 2vh;
  color: #f6f6f6;
  text-align: center;
  z-index: 0;

  width: 30vh;
}

p{
  font-size: 4vh;
  padding: 5px;
  border-style: solid;
  border-width: thin;
  border-color:  #f6f6f6;
  background-color: #907265;
  pointer-events: auto;
}

img{
  /* Position */
  width: 45vh;
  height: 45vh;
}
